*~
.idea
/.DS_Store
/classes
/lib
/target
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/pom.xml
.repl
*.swp
*.zip
*main.js
/resources/public/js/out
/resources/public/js/out/*
resources/public/js/out/*
/resources/public/js/main.js.map
/resources/public/js/*.map
/resources/node_modules
/resources/node_modules/*
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
